
  <%- include('partials/head') %>

  
    <%- include('partials/navbar') %>

    <h1>home page <%= 'SASWAT'.toLowerCase()%></h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione illo
      magnam nihil nostru\
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione illo
      magnam nihil nostru\
    </p>
<%- include('partials/footer') %>
